body {
  background-color: #000;
  margin: 0;
  cursor: none; }

section {
  margin-top: 10%;
  padding: 0; }
  section h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 0.75;
    font-size: 90px;
    margin-left: 5vh;
    position: absolute;
    color: #656565;
    font-weight: 800;
    text-shadow: 1px 1px 1px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000; }
  section h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-size: 40px;
    margin-left: 5vh;
    position: absolute;
    padding-top: 7%;
    padding-left: 3%;
    color: #fff;
    text-shadow: 1px 1px 1px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000; }

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 120px 60px rgba(255, 255, 255, 0.5), 0 0 200px 120px rgba(255, 0, 255, 0.5), 0 0 280px 180px rgba(0, 255, 255, 0.5);
  /* box-shadow: 0 0 60px 30px #fff; */
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.3s linear;
  z-index: 30; }

.cmdWindow {
  justify-content: center;
  width: 1061.5px;
  height: 845.68px;
  border-style: solid;
  border-color: #7b7b7b;
  border-width: 0.5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .cmdWindow .cmdNavbar {
    width: 1061.5px;
    height: 54.48px;
    background-color: #ffffff;
    position: relative; }
    .cmdWindow .cmdNavbar #cmdLogo {
      width: 33px;
      height: 33px;
      position: absolute;
      top: 50%;
      left: 0.8%;
      margin-top: -16.5px; }
    .cmdWindow .cmdNavbar .cmdTitle {
      font-size: 14px;
      font-family: "Segoe UI";
      color: #000;
      line-height: 1.2;
      text-align: left;
      -moz-transform: matrix(1.7258, 0, 0, 1.7258, 0, 0);
      -webkit-transform: matrix(1.7258, 0, 0, 1.7258, 0, 0);
      -ms-transform: matrix(1.7258, 0, 0, 1.7258, 0, 0); }
    .cmdWindow .cmdNavbar .cmdTitleAlign {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 10.5%;
      transform: translate(-50%, -50%); }
    .cmdWindow .cmdNavbar .cmdWindowIconContainer {
      position: relative;
      float: right;
      height: 100%;
      aspect-ratio: 1/1;
      text-align: center; }
    .cmdWindow .cmdNavbar .cmdWindowIconContainer:hover {
      background-color: #e5e5e5; }
    .cmdWindow .cmdNavbar .cmdWindowIcons {
      width: 30%;
      margin: auto;
      position: relative;
      top: 35%; }
  .cmdWindow .cmdTypeScreen {
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1; }
    .cmdWindow .cmdTypeScreen p {
      margin: -10px 0 -10px 0; }
    .cmdWindow .cmdTypeScreen .cmdText {
      margin-top: 1%;
      color: #ffffff;
      font-size: 20px;
      font-family: "Consolas";
      line-height: 1.2;
      text-align: left;
      white-space: pre-line; }
      .cmdWindow .cmdTypeScreen .cmdText br {
        content: "";
        margin: 0;
        display: block;
        font-size: 24%; }
      .cmdWindow .cmdTypeScreen .cmdText #cmdCursor {
        font-family: "Cooper Black";
        line-height: 1.2;
        text-align: right;
        -moz-transform: matrix(1, 0, 0, 1.95, 0, -11);
        -webkit-transform: matrix(1, 0, 0, 1.95, 0, -11);
        -ms-transform: matrix(1, 0, 0, 1.95, 0, -11);
        position: absolute; }
      .cmdWindow .cmdTypeScreen .cmdText #cmdCursor::selection {
        margin: 1em;
        color: #0c0c0c; }
    .cmdWindow .cmdTypeScreen #cmdIntroText {
      margin: 0.1em 0 0.3em 0; }

.cmdText::selection {
  background: #fff;
  /* WebKit/Blink Browsers */
  color: #000; }

.cmdText::-moz-selection {
  background: #fff;
  /* Gecko Browsers */
  color: #000; }

.notHighlightable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.disablePointerEvents {
  pointer-events: none; }

#home {
  margin: 0;
  background-color: #fff;
  height: 100vh;
  background-repeat: initial;
  background-image: url(images/paintbrushBackground.png); }

#about .container {
  position: absolute;
  width: 48%;
  height: 100%;
  margin-top: 25%;
  margin-left: 47%; }

#about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  color: #fff; }

#about br {
  height: 10%; }

#about .smoke {
  margin-top: -5%;
  margin-left: -10%;
  position: absolute; }

#about #portrait1 {
  float: left; }

#about #portrait2 {
  float: right; }

#projects {
  background-color: #7b7b7b;
  margin-top: 80%; }
