body {
  background-color: #000;
  margin: 0;
  cursor: none; }

section {
  padding: 0;
  height: max-content; }

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 120px 60px rgba(255, 255, 255, 0.5), 0 0 200px 120px rgba(255, 0, 255, 0.5), 0 0 280px 180px rgba(0, 255, 255, 0.5);
  /* box-shadow: 0 0 60px 30px #fff; */
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.3s linear;
  z-index: 30; }

.cmdWindow {
  justify-content: center;
  width: 70%;
  height: 55.77%;
  border-style: solid;
  border-color: #7b7b7b;
  border-width: 0.5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .cmdWindow .cmdNavbar {
    height: 54.48px;
    background-color: #ffffff;
    position: relative; }
    .cmdWindow .cmdNavbar #cmdLogo {
      width: 33px;
      height: 33px;
      position: absolute;
      top: 50%;
      left: 0.8%;
      margin-top: -16.5px; }
    .cmdWindow .cmdNavbar .cmdTitle {
      font-size: 14px;
      font-family: "Segoe UI";
      color: #000;
      line-height: 1.2;
      text-align: left;
      -moz-transform: matrix(1.7258, 0, 0, 1.7258, 0, 0);
      -webkit-transform: matrix(1.7258, 0, 0, 1.7258, 0, 0);
      -ms-transform: matrix(1.7258, 0, 0, 1.7258, 0, 0); }
    .cmdWindow .cmdNavbar .cmdTitleAlign {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 110px;
      transform: translate(-50%, -50%); }
    .cmdWindow .cmdNavbar .cmdWindowIconContainer {
      position: relative;
      float: right;
      height: 100%;
      aspect-ratio: 1/1;
      text-align: center; }
    .cmdWindow .cmdNavbar .cmdWindowIconContainer:hover {
      background-color: #e5e5e5; }
    .cmdWindow .cmdNavbar .cmdWindowIcons {
      width: 30%;
      margin: auto;
      position: relative;
      top: 35%; }
  .cmdWindow .cmdTypeScreen {
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1; }
    .cmdWindow .cmdTypeScreen p {
      margin: -10px 0 -10px 0; }
    .cmdWindow .cmdTypeScreen .cmdText {
      margin-top: 1%;
      color: #ffffff;
      font-size: 20px;
      font-family: "Consolas";
      line-height: 1.2;
      text-align: left;
      white-space: pre-line; }
      .cmdWindow .cmdTypeScreen .cmdText br {
        content: "";
        margin: 0;
        display: block;
        font-size: 24%; }
      .cmdWindow .cmdTypeScreen .cmdText #cmdCursor {
        font-family: "Cooper Black";
        line-height: 1.2;
        text-align: right;
        -moz-transform: matrix(1, 0, 0, 1.95, 0, -11);
        -webkit-transform: matrix(1, 0, 0, 1.95, 0, -11);
        -ms-transform: matrix(1, 0, 0, 1.95, 0, -11);
        position: absolute; }
      .cmdWindow .cmdTypeScreen .cmdText #cmdCursor::selection {
        margin: 1em;
        color: #0c0c0c; }
    .cmdWindow .cmdTypeScreen #cmdIntroText {
      margin: 0.1em 0 0.3em 0; }

.cmdText::selection {
  background: #fff;
  /* WebKit/Blink Browsers */
  color: #000; }

.cmdText::-moz-selection {
  background: #fff;
  /* Gecko Browsers */
  color: #000; }

.notHighlightable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.disablePointerEvents {
  pointer-events: none; }

.center {
  justify-content: center; }

#home {
  margin: 0;
  background-color: #fff;
  height: 100vh;
  background-repeat: initial;
  background-image: url(images/paintbrushBackground.png); }

#about {
  margin: 0;
  width: 100%; }
  #about img {
    object-fit: contain; }
  #about .about-container {
    display: inline-block;
    width: 100%; }
  #about .container {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%; }
  #about .small-title-container {
    margin-top: -160px; }
  #about .portraits {
    flex-grow: 2; }
  #about .text-container {
    width: 30%;
    max-width: 100%;
    flex-grow: 2;
    justify-content: center;
    margin-top: 80px; }
  #about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: #fff; }
  #about br {
    height: 10%; }
  #about #portrait1 {
    max-height: 733px;
    max-width: 542px;
    float: left;
    z-index: 3; }
  #about #portrait2 {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    float: right; }

.header-container {
  height: 10%;
  width: 100%;
  position: relative; }
  .header-container h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 0.75;
    font-size: 90px;
    margin-left: 5vh;
    padding: 70px 0;
    color: #656565;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000; }
  .header-container h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-size: 40px;
    margin-left: 5vh;
    margin-bottom: 0;
    position: absolute;
    padding-left: 3%;
    color: #fff;
    text-shadow: 1px 1px 1px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000; }

.smoke {
  margin-top: -5%;
  margin-left: -10%;
  position: absolute;
  z-index: 10; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

#projects {
  height: 100vh; }
  #projects .small-title-container {
    margin-top: -90px; }
  #projects .img-container {
    flex-grow: 2;
    justify-content: right; }
  #projects #gis2 {
    width: 100%;
    opacity: 20%; }
  #projects img {
    width: 48%; }
  #projects video {
    width: 48%; }
