$cmdBlack: #0c0c0c;
$cmdGray:  #7b7b7b;
$cmdNavBarWidth: 1061.5px;
$cmdNavBarHeight: 54.48px;
$cmdLogoDim: 33px;
$hoverWhite: #e5e5e5;


// body {
//     // background-color: $hoverWhite;
//     // background-color: $cmdBlack;
//     background-repeat:initial;
//     // background-blend-mode: multiply;
//     background-image: url(images/paintbrushBackground.png);
//     margin: 0;
//     // overflow: hidden;
// }

body {
    // background-repeat: initial;
    // background-image: url(images/paintbrushBackground.png);
    background-color: #000;
    margin: 0;
    cursor: none;
}

section {
    // background-color: #fff
    // margin-top: 10%;
    padding: 0;

    // h1 {
    //     font-family: 'Open Sans', sans-serif;
    //     line-height: 0.75;
    //     font-size: 90px;
    //     margin-left: 5vh;
    //     position: absolute;
    //     color: #656565;
    //     font-weight: 800;
    //     text-shadow:
    //             1px 1px 1px #000,
    //             -1px 1px 2px #000,
    //             -1px -1px 0 #000,
    //             1px -1px 0 #000;
        
    // }
    // h2 {
    //     font-family: 'Open Sans', sans-serif;
    //     line-height: 1.2;
    //     font-size: 40px;
    //     margin-left: 5vh;
    //     position: absolute;
    //     padding-top: 7%;
    //     padding-left: 3%;
    //     color: #fff;
    //     text-shadow:
    //             1px 1px 1px #000,
    //             -1px 1px 2px #000,
    //             -1px -1px 0 #000,
    //             1px -1px 0 #000;

    // }
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    //  background: orange; 
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 120px 60px rgba(255,255,255,0.5), 0 0 200px 120px rgba(255, 0, 255, 0.5), 0 0 280px 180px rgba(0, 255, 255, 0.5);
    /* box-shadow: 0 0 60px 30px #fff; */
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform 0.3s linear;
    // opacity: 50%;
     z-index: 30;
    // transition: .001s linear;
}


.cmdWindow {
    justify-content: center;
    // background-color: $cmdBlack;
    // width: 1061.5px;
    // height: 845.68px;
    width:70%;
    height:55.77%; 
    border-style: solid;
    border-color: $cmdGray;
    border-width: 0.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .cmdNavbar {
        width: $cmdNavBarWidth;
        height: $cmdNavBarHeight;
        background-color: #ffffff;
        position: relative;


        #cmdLogo {
            width: $cmdLogoDim;
            height: $cmdLogoDim;
            position: absolute;
            top: 50%;
            left: 0.8%;
            margin-top: -($cmdLogoDim / 2);
        }

        .cmdTitle {
            font-size: 14px;
            font-family: "Segoe UI";
            color: #000;
            line-height: 1.2;
            text-align: left;
            -moz-transform: matrix( 1.72580015133497,0,0,1.72580015133496,0,0);
            -webkit-transform: matrix( 1.72580015133497,0,0,1.72580015133496,0,0);
            -ms-transform: matrix( 1.72580015133497,0,0,1.72580015133496,0,0);
        }

        .cmdTitleAlign {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 10.5%;
            transform: translate(-50%, -50%);
        }

        .cmdWindowIconContainer {
            position: relative;
            float: right;
            height: 100%;
            aspect-ratio: 1/1;
            text-align: center;
            
        }

        .cmdWindowIconContainer:hover {
            background-color: $hoverWhite;
        }

        .cmdWindowIcons {
            width: 30%;
            margin: auto;
            position: relative;
            top: 35%;
        }

    }
    

    .cmdTypeScreen {
        background-color: $cmdBlack;
        width:100%;
        height:100%;
        display: flex;
		flex-direction: column;
        flex: 1;

        p {
            margin: -10px 0 -10px 0;
        }

        .cmdText {
            margin-top: 1%;
            color: #ffffff;
            font-size: 20px;
            font-family: "Consolas";
            line-height: 1.2;
            text-align: left;
            white-space: pre-line;

            br {
                
                content: "";
                margin: 0;
                display: block;
                font-size: 24%;
            }

            #cmdCursor {
                font-family: "Cooper Black";
                line-height: 1.2;
                text-align: right;
                -moz-transform: matrix(1,0,0,1.95,0,-11);
                -webkit-transform: matrix(1,0,0,1.95,0,-11);
                -ms-transform: matrix(1,0,0,1.95,0,-11);
                position: absolute;
                
            }
            #cmdCursor::selection {
                margin: 1em;
                color: $cmdBlack;
            }
        }

        #cmdIntroText {
            margin: 0.1em 0 0.3em 0;
        }
    }
}


.cmdText::selection {
    background: #fff; /* WebKit/Blink Browsers */
    color: #000;
  }
  .cmdText::-moz-selection {
    background: #fff; /* Gecko Browsers */
    color: #000;
  }


.notHighlightable {
    user-drag: none;
    -webkit-user-drag: none;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.disablePointerEvents {
    pointer-events: none;
}



#home {
    margin: 0;
    background-color: #fff;
    height: 100vh;
    background-repeat: initial;
    background-image: url(images/paintbrushBackground.png);
}

#about {
    // display: flex;
    margin: 0;
    width: 100%;
    height: 130vh;

    .container {
        position: absolute;
        width: 48%;
        height: 100%;
        margin-top: 25%;
        margin-left: 47%;
    }
    .small-title-container {
        margin-top: -160px;
    }
        
  

    p {
            font-family: 'Open Sans', sans-serif;
            // line-height: 2.5;
            font-size: 22px;
            font-weight: 400;
            text-align: right;
            color: #fff;
    }
    
    br {
        height: 10%;
    }

    

    #portrait1 {
        float: left;
        z-index: 3;
    }
    #portrait2 {
        // margin-top: -25vh;
        float: right;
        z-index: -1;
    }
}

.header-container {
    height: 10%;
    width: 100%;
    position: relative;
    // background-color: aqua;
    h1 {
            font-family: 'Open Sans', sans-serif;
            line-height: 0.75;
            font-size: 90px;
            margin-left: 5vh;
            // position: relative;
            padding: 70px 0;
            color: #656565;
            font-weight: 800;
            margin-top: 0;
            margin-bottom: 0;
            text-shadow:
                1px 1px 1px #000,
                -1px 1px 2px #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;
    
        }
    
        h2 {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.2;
            font-size: 40px;
            margin-left: 5vh;
            margin-bottom: 0;
            position: absolute;
            
            padding-left: 3%;
            color: #fff;
            text-shadow:
                1px 1px 1px #000,
                -1px 1px 2px #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;
    
        }
}

.smoke {
    margin-top: -5%;
    margin-left: -10%;
    position: absolute;
}

.flex-container {
    display: flex;
    width: 100%;
}

#projects {
    // width: 100%;
    height: 100vh;
    // background-color: #7b7b7b;  
    .small-title-container {
        margin-top: -90px;
    }

    .img-container {
        flex-grow: 2;
        justify-content: right;
    }
    img {
        width: 48%;
    }

    video {
        width: 48%;
    }
    // video {
    //         position: absolute;
    //         min-width: 100%;
    //         min-height: 100%;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //     }
    
   
}

// #skills {
//     width: 100%;
//     height: 100vh;
// }


